example-workflows/tools/Lookup Customer.json
{
  "name": "DEV-Lookup Customer",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "customerId"
            },
            {
              "name": "customerName"
            }
          ]
        }
      },
      "id": "b1b2c3d4-2222-4000-a000-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 340]
    },
    {
      "parameters": {
        "url": "https://api.example.com/customers/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.customerId }}"
            },
            {
              "name": "name",
              "value": "={{ $json.customerName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-a000-000000000002",
      "name": "Search Customer API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 340],
      "credentials": {
        "httpHeaderAuth": {
          "id": "exCredApiKey001",
          "name": "CRM API Key - Example"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OBegLl4ZxRHDWH7h",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-a000-000000000003",
      "name": "Enrich Customer Data",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-001",
              "name": "customer",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-a000-000000000004",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 340]
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "customerId": "CUST-12345",
          "customerName": "ACME Corp"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Search Customer API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Customer API": {
      "main": [
        [
          {
            "node": "Enrich Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Customer Data": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "example-version-002",
  "meta": {
    "instanceId": "example-instance-id"
  },
  "id": "NWXX0Dmyn9zuvUss",
  "tags": [
    {
      "name": "environment:dev"
    }
  ]
}
