example/agents/Billing Bot MVP.json
{
  "name": "Billing Bot MVP",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').item.json.sessionId ?? $('Variables for Chat').item.json.sessionId}}",
        "collectionName": "billingbot_chats",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1216,
        304
      ],
      "id": "a143d315-2c94-4884-8caf-812f2b350a6c",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "Ggo0MKdauxTlpDyQ",
          "name": "aitobillbot-mongodb"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $('Merge').item.json.userPrompt ?? $('Variables for Chat').item.json.userPrompt}}",
        "options": {
          "systemMessage": "=IMPORTANT: Between each tool call, before and after, ALWAYS use the 'Keep user updated' tool and give them a helpful short single sentence status update. Must be less than 51 characters.\n\n{{$json.partnerConfirmed     ? $json.confirmedPromptRouter     : $json.unconfirmedPromptRouter }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1488,
        48
      ],
      "id": "a7df0fe0-ed5f-4c07-98cb-9209b2364634",
      "name": "Router Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.userId }}",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"markdown\",\n\t\t\t\"text\": {{ JSON.stringify($json.output) }}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Session Id: {{ $('Variables').item.json.sessionId }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "={{ $json.output }}\n\n{{ $('Variables').item.json.sessionId }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Variables').item.json.sessionId }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2512,
        64
      ],
      "id": "dbe1db9e-dca2-445b-850d-23faa038d2ca",
      "name": "Send a message",
      "webhookId": "63e53491-1a46-4869-a2aa-4bb2ffd7c914",
      "credentials": {
        "slackApi": {
          "id": "2QEAL9RctwPgfS2o",
          "name": "Billing Bot Production"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this agent to search partners, pull partner information, and log that the user has confirmed the partner.",
        "workflowId": {
          "__rl": true,
          "value": "oWgl2RcMBzoYBmOW",
          "mode": "list",
          "cachedResultUrl": "/workflow/oWgl2RcMBzoYBmOW",
          "cachedResultName": "aito-billingbot — Partner Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ $('Merge').item.json.userPrompt }}",
            "sessionId": "={{ $('Merge').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1408,
        304
      ],
      "id": "212597ae-ccd5-453d-9a27-8e3b4833e60f",
      "name": "Partner Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a649b4bb-77ff-4efb-b1f7-80cc1cebdcda",
              "leftValue": "={{ $('Chat').item.json.subtype }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        48
      ],
      "id": "b5865034-3ec8-4c8b-9a24-19523455889b",
      "name": "If"
    },
    {
      "parameters": {
        "trigger": [
          "any_event"
        ],
        "watchWorkspace": true,
        "options": {
          "userIds": "=U09GQR0QVBL"
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        48
      ],
      "id": "026747ee-911a-4d3b-b460-d33f6e08ea9f",
      "name": "Chat",
      "webhookId": "4b105378-739c-4e13-b4d3-202122b873d4",
      "credentials": {
        "slackApi": {
          "id": "2QEAL9RctwPgfS2o",
          "name": "Billing Bot Production"
        }
      }
    },
    {
      "parameters": {
        "description": "={{$json.partnerConfirmed     ?  $('Set Prompt').item.json.confirmedDescriptionInvoice    : $('Set Prompt').item.json.unconfirmedDescriptionInvoice }}",
        "workflowId": {
          "__rl": true,
          "value": "YbM4pqxRD0AnOVhb",
          "mode": "list",
          "cachedResultUrl": "/workflow/YbM4pqxRD0AnOVhb",
          "cachedResultName": "aito-billingbot — Invoice Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ $('Merge').item.json.userPrompt }}",
            "sessionId": "={{ $('Merge').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1616,
        304
      ],
      "id": "8cd6f57b-5ca4-4184-be37-07a7dd2697e7",
      "name": "Invoice Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        368
      ],
      "id": "70dfe1a0-8193-4b9a-a239-2b36e72f21bc",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Router Agent\nDetermines which agent and tools best meet the users request.",
        "height": 272,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -64
      ],
      "typeVersion": 1,
      "id": "effc393f-861c-4c17-8dac-7a009ad76079",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nCalled to search partners, surface partner information, and explicitly confirm partner before accessing more sensitive information.",
        "height": 384,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        256
      ],
      "typeVersion": 1,
      "id": "eee8fda2-37f3-483a-9531-f38dc77da619",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n**Can only be used once the partner is explicitly confirmed.**\n\nCalled to search for invoices, pull invoice information, pull invoice line item details",
        "height": 384,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        256
      ],
      "typeVersion": 1,
      "id": "ee3a04d9-ae5a-4878-9c09-59af45fc0745",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n**Can only be used once the partner is explicitly confirmed.**\n\nCalled to search billing run impact list for issues related to the partner.",
        "height": 384,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        256
      ],
      "typeVersion": 1,
      "id": "d21365cf-6a5b-4e25-a130-f3796ca935b3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "description": "={{$json.partnerConfirmed     ?  $('Set Prompt').item.json.confirmedDescriptionBillingRunList  : $('Set Prompt').item.json.unconfirmedDescriptionBillingRunList }}",
        "workflowId": {
          "__rl": true,
          "value": "TqVxo1X0PJjpliRi",
          "mode": "list",
          "cachedResultName": "aito-billingbot — Billing Run Impact List"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Merge').item.json.sessionId }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1824,
        304
      ],
      "id": "5b6f4fbe-f07b-4692-8177-35164ffefe2b",
      "name": "Billing Run Impact List"
    },
    {
      "parameters": {
        "content": "### Send output to thread",
        "height": 288,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        -48
      ],
      "typeVersion": 1,
      "id": "f7a2493a-63e7-420c-b295-3079887547da",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Receive direct message or reply to thread.",
        "height": 272,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -80
      ],
      "typeVersion": 1,
      "id": "65ce979c-b165-48c7-88df-a00dc4b7f2c4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Only execute on user messages\nNo sub-type. Ex. message_changed, message_deleted",
        "height": 272,
        "width": 192,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -80
      ],
      "typeVersion": 1,
      "id": "c30d1778-72a4-485d-a910-321208af5723",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### Set convo variables\nuserPromp, sessionId, userId ",
        "height": 272,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -48
      ],
      "typeVersion": 1,
      "id": "68097f8f-a3dd-444e-b409-a16e4644f712",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c174919-2464-41a4-bf92-82a0887ed4d0",
              "name": "userPrompt",
              "value": "={{ $('Chat').item.json.text || $json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "7a00d4dd-12a5-4135-af56-3ce82e04bcfb",
              "name": "userId",
              "value": "={{ $('Chat').item.json.user }}",
              "type": "string"
            },
            {
              "id": "fbed7988-e9f3-4d43-8df2-bfbd4efd59df",
              "name": "sessionId",
              "value": "={{ $('Chat').item.json.thread_ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        48
      ],
      "id": "df38fa2c-aa4e-486b-8995-3f41ca5ab1a9",
      "name": "Variables"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n**Model:** GPT 5 nano\n**Memory**: MongoDB Chat Memory\n  **Collection:** billingbot_chats",
        "height": 384,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        256
      ],
      "typeVersion": 1,
      "id": "4fab5a0a-8eea-43a9-a5e6-10185e3b3e0b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nIf there is a message sub-type, do nothing.",
        "height": 256,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        336
      ],
      "typeVersion": 1,
      "id": "dc3823da-16e1-4927-9585-a5169083291d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "userPrompt,userId,sessionId",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        48
      ],
      "id": "ee5675af-01f6-45df-be78-249c816dfa91",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0941c809-67a3-4b64-9e2a-cbc05c6ecbdc",
              "leftValue": "={{ $('Merge').item.json.isEval || false}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1984,
        48
      ],
      "id": "82c7d9a0-056a-48df-b09a-56e26ac4fd28",
      "name": "Is Eval?"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        560,
        -208
      ],
      "id": "a8ca65b0-9005-4d45-9507-3f27e794d495",
      "name": "Evals"
    },
    {
      "parameters": {
        "collection": "billingbot_confirm_partner",
        "options": {},
        "query": "={\n  \"sessionId\":\"{{ $json.sessionId }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        960,
        48
      ],
      "id": "36be5959-1b3e-437e-a27c-04abd7fa3afe",
      "name": "Find documents",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Ggo0MKdauxTlpDyQ",
          "name": "aitobillbot-mongodb"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nCalled to answer general Pax8 invoice and invoicing process questions.",
        "height": 384,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        256
      ],
      "typeVersion": 1,
      "id": "34e0c010-d23a-4900-9bae-26a46428e91d",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72dfe11-eacc-446e-a632-6b652a323723",
              "name": "confirmedPromptRouter",
              "value": "==== ROLE ===\nYou are the Router Agent in the Pax8 Billing Bot.\nYour only job: use tools to get answers to user inquiries.\n\n-------\n\n=== TOOLS ===\n1. Invoice_Agent\nUse this tool for invoice/bill inquiries (can search and list invoices, retrieve single invoices, two invoices for comparison, provide line item detail about an invoice, perform calculations on invoices. You don't need to call the tool twice to analyze multiple invoices)\n\nFORBIDDEN:\n- Under NO circumstances may you modify, rewrite, rephrase, summarize, or format the content of messages received from the Invoice_Agent tool.\n- You must output their responses exactly as received, with no changes, additions, or formatting of any kind.\n- Do not apply markdown, headers, emojis, or any stylistic changes to these outputs.\n- Do not judge completeness or correctness; always pass through the full response verbatim.\n- If the tool output is empty or an error, you may generate a router agent message explaining the issue, but never alter the tool output itself.\n\n---\n\n2. Billing_Run_Impact_List\nUse this tool for billing run, known issues, or impact list checks. If no data is returned, there are no known issues or impact to the partner.\n\nNOTES:\n- Use kind, fun, yet professional language when determining your response.\n- Use interesting, markdown formatting including headers, bold, italics, bulleted lists, numbered lists, emojis, etc. to make the interactions easily readable and fun.\n- If unable to obtain the information the user requires, tell the user you cannot perform the task and offer suggestions.\n\n---\n\n3. QA_Agent\nUse this tool for: \n1) General billing questions about invoices (terminology, definistions, etc.).\n2) Invoicing process (receiving invoices, taxation, etc.).\n3) Information about and guidance on using Billing Bot.\n\nFORBIDDEN:\n- Under no circumstances may you modify, rewrite, rephrase, summarize, or format the content of messages received from the QA_Agent tool.\n- You must output their responses exactly as received, with no changes, additions, or formatting of any kind.\n- Do not apply markdown, headers, emojis, or any stylistic changes to these outputs.\n- Do not judge completeness or correctness; always pass through the full response verbatim.\n- If the tool output is empty or an error, you may generate a router agent message explaining the issue, but never alter the tool output itself.\n\n-------\n\n=== DECISION RULES ===\nIf the message asks for an invoice, bill, charges, details, differences, licenses, comparisons, or calculations → Invoice_Agent\n\nIf it mentions billing runs, impact lists, delays, failures, reprocessing → Billing_Run_Impact_List\n\nCall once per conversation even if not explicitly asked.\n\nOtherwise → QA_Agent\n\nWhen ambiguous, bias toward Invoice_Agent.\n\nEXAMPLES:\n- User: Show me the invoice for July → Invoice_Agent\n- User: Why is September’s bill higher than August? → Invoice_Agent\n- User: How many licenses of business premium were on the September invoice? → Invoice_Agent\n- User: Was this partner on the September impact list? → Billing_Run_Impact_List\n- User: When do invoices usually generate? → QA_Agent\n- User: Why is my bill different this time? → Invoice_Agent\n\n-------\n\n=== NOTES ===\n- Today's date (YYYY-MM-DD): {{ $today.format('yyyy-LL-dd') }}\n- Unless otherwise stated, assume the user is asking about the current month and year. Always tell the user which month and year data has been pulled.\n\n\n=== FORBIDDEN ===\n- NEVER NEVER modify the content of the messages received from the Invoice_Agent or the QA_Agent tools. ONLY pass the message as is.\n- NEVER infer numerical calculations. Use the calculator tool to compute values.\n- Never fabricate IDs, GUIDs, or dates.\n- DO NOT use syntax highlighting, horizontal lines, tables, and task list in your output.\n- DO NOT offer to output data is any format (Ex. CSV, PDF, Excel). Only information comes through chatting.\n- Do not answer or ask follow-ups.\n- Do not offer or suggest reaching out to anyone else.\n\n-------\n\n=== SCOPE ===\nNever offer to do anything for the user that is out of scope. In scope functionality is determined by what the tools can do. If the user asks for something that is not explicitly in scope, first try using the QA_Agent to find the answer. If the answer is not available, tell the user you are unable to perform that action, and provide the user both links to the Pax8 Marketplace Partner pages.\n\nLINK FORMAT:\nThe Pax8 Marketplace currently exists in 2 formats: New Experience and Old Experience. The links are formatted differently.\n\nNew Experience: https://app.pax8.com/account/settings/{{ $json.guid }}\nOld Experience: https://app.pax8.com/partners/{{ $json.id }}\n\n-------\n\n",
              "type": "string"
            },
            {
              "id": "3d3844a8-c080-4953-8414-11f6bf9f4ba9",
              "name": "unconfirmedPromptRouter",
              "value": "==== ROLE ===\nYou are the Router Agent in the Pax8 Billing Bot.\nYour only job: use tools to get answers for the user's inquiries and pass that information unedited as the response.\n\n-------\n\n=== TOOLS ===\n1. Partner_Agent\nUse for partner-specific inquiries\n\nAfter the user confirms the partner, call the Partner_Agent again to store in the system. You must do this before you get access to more tools.\n\n---\n\n2. QA_Agent\nUse this tool for: \n1) General billing questions about invoices (terminology, definistions, etc.).\n2) Invoicing process (receiving invoices, taxation, etc.).\n3) Information about and guidance on using Billing Bot.\n\n\nNever answer questions yourself. Only classify and invoke the correct tool with the correct payload. Then pass the formatted message to the user with the citation.\n\n-------\n\n=== EXAMPLE USE CASES ===\nPartner-specific\nRoute to Partner_Agent if the message is about a specific partner/account or billing artifacts.\nSignals: mentions of partner name/ID, invoices/bills, charges, credits, deltas (“this month vs last month”), billing run (impact list, failed, delayed), usage/entitlements (SKUs, seats, subs).\n\nWhen ambiguous, bias to Partner_Agent.\n\nGeneral billing\nRoute to QA_Agent if the message is about general concepts, processes, or definitions (billing cycles, arrears charge, pro-rations, invoice generation, portal instructions).\n\n---\n\n=== NOTES ===\n- Citations are only required for the QA_Agent.\n\n\n=== FORBIDDEN ===\n- NEVER call the Partner Agent more than once per user input. \n- Under no circumstances may you modify, rewrite, rephrase, summarize, or format the content of messages received from the Partner_Agent or QA_Agent tools.\n- You must output their responses exactly as received, with no changes, additions, or formatting of any kind.\n- Do not apply markdown, headers, emojis, or any stylistic changes to these outputs.\n- Do not judge completeness or correctness; always pass through the full response verbatim.\n- If the tool output is empty or an error, you may generate a router agent message explaining the issue, but never alter the tool output itself.\n\n- Do not answer or ask follow-ups.\n- NEVER fabricate IDs, GUIDs, or dates.\n",
              "type": "string"
            },
            {
              "id": "2ec505e7-740c-4c49-bcce-7b8c093dec90",
              "name": "confirmedDescriptionInvoice",
              "value": "Call this tool when the user has any question about invoices. This agent can search for invoices, pull invoice information, pull invoice line item details.",
              "type": "string"
            },
            {
              "id": "d2ed30a2-fa5d-4deb-819c-de53e11abf9f",
              "name": "unconfirmedDescriptionInvoice",
              "value": "DO NOT USE",
              "type": "string"
            },
            {
              "id": "bab41dcf-ff5d-4f20-97d1-4fccd9a1f860",
              "name": "confirmedDescriptionBillingRunList",
              "value": "Call this tool to search for known billing run impacts to a partner. ",
              "type": "string"
            },
            {
              "id": "a3f31742-6770-4f58-bfe5-eb05183a468b",
              "name": "unconfirmedDescriptionBillingRunList",
              "value": "DO NOT USE",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        48
      ],
      "id": "bb4426c7-04f8-4e96-9851-a19d2cc50e7f",
      "name": "Set Prompt"
    },
    {
      "parameters": {
        "description": "Call this tool to answer general Pax8 invoice and invoicing process questions.",
        "workflowId": {
          "__rl": true,
          "value": "QP1AOAhuK20v25Fq",
          "mode": "list",
          "cachedResultUrl": "/workflow/QP1AOAhuK20v25Fq",
          "cachedResultName": "aito-billingbot — Q&A Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ $('Merge').item.json.userPrompt }}",
            "sessionId": "={{ $('Merge').item.json.sessionId }}",
            "context": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('context', `Additional context from memory for the Q&A agent.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2032,
        304
      ],
      "id": "cbbf700e-0e37-4e47-9dc0-3639dbfb28f8",
      "name": "QA Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OCdZ5dwkTCp2jSjM",
          "mode": "list",
          "cachedResultUrl": "/workflow/OCdZ5dwkTCp2jSjM",
          "cachedResultName": "aito-billingbot — User Permission"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slackUserId": "={{ $('Chat').item.json.user }}"
          },
          "matchingColumns": [
            "slackUserId"
          ],
          "schema": [
            {
              "id": "slackUserId",
              "displayName": "slackUserId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -272,
        48
      ],
      "id": "d98310d7-9c0c-402f-886d-7d4edee5e731",
      "name": "User Permission"
    },
    {
      "parameters": {
        "content": "### Only Permitted Users May Pass\n\nIf the user is a member of the security group, the flow may continue. If not, user is messaged they do not have access to Billing Bot.",
        "height": 400,
        "width": 576,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -96
      ],
      "typeVersion": 1,
      "id": "acd46b44-8465-41a7-acc2-61c38352480c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('Chat').item.json.user }}",
          "mode": "id"
        },
        "text": "You do not have permission to use Billing Bot. If you think this is a mistake, please contact your manager.",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Chat').item.json.thread_ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        112,
        144
      ],
      "id": "b37eeb74-165a-417a-a7a4-75b3d5e5e1a5",
      "name": "Send message of no permission",
      "webhookId": "63e53491-1a46-4869-a2aa-4bb2ffd7c914",
      "credentials": {
        "slackApi": {
          "id": "2QEAL9RctwPgfS2o",
          "name": "Billing Bot Production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85bd9055-9485-41e8-99f5-ed8b81f380fe",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        48
      ],
      "id": "28e9ad4b-2c32-423f-ad41-e2ac9e8a87aa",
      "name": "Have Permission"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/assistant.threads.setStatus",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Chat').item.json.channel }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ $json.sessionId }}"
            },
            {
              "name": "status",
              "value": "is working on this for you... "
            },
            {
              "name": "loading_messages",
              "value": "[\"Thinking...\", \"Enhance...\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        336
      ],
      "id": "c02d7789-50ea-4b25-990f-a73ab3362acf",
      "name": "Thinking...",
      "credentials": {
        "httpBearerAuth": {
          "id": "n9zc7wbbYoKmEc03",
          "name": "Slack Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "content": "### Lets the user know it is \"Thinking\"",
        "height": 256,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        256
      ],
      "typeVersion": 1,
      "id": "2ef1afd4-03f7-4fd3-9ffe-1ab85f575352",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "sessionId",
              "value": "={{ $('Variables').item.json.sessionId }}"
            },
            {
              "key": "timeStamp",
              "value": "={{ $now }}"
            },
            {
              "key": "userName",
              "value": "={{ $json.real_name_normalized }}"
            },
            {
              "key": "userEmail",
              "value": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        4016,
        64
      ],
      "id": "341b73dc-c39d-43b9-8748-0531f64228dc",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "sessionId",
              "value": "={{ $('Evals').item.json.sessionId }}"
            },
            {
              "key": "evalClass",
              "value": "={{ $('Evals').item.json.class }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        2192,
        -224
      ],
      "id": "a56e2dbc-b4fd-4fd5-a151-b9ab95cb362a",
      "name": "Eval Execution Data"
    },
    {
      "parameters": {
        "content": "Based on whether the partner has been confirmed by the user, the instructions and tools change.",
        "height": 272,
        "width": 166
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -80
      ],
      "typeVersion": 1,
      "id": "22bfcaa6-8cac-4fd2-9d0d-9457ca549b36",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "model": "aitobillbot-gpt-4.1",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1072,
        304
      ],
      "id": "24a11d66-f281-4c30-9411-fee3dc120c47",
      "name": "gpt-4.1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "8fU9EDB6jvsplAt1",
          "name": "aitobillbot-gpt-4.1"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Send an update to the user while you are going between tools so they see a message in the thinking state of the interface. This will prevent them from thinking you've crashed or failed. Must be less than 51 characters",
        "method": "POST",
        "url": "https://slack.com/api/assistant.threads.setStatus",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Chat').item.json.channel }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ $('Chat').item.json.thread_ts }}"
            },
            {
              "name": "status",
              "value": "is working on this for you... "
            },
            {
              "name": "loading_messages",
              "value": "=[\"{{ $fromAI('thoughtString', `Few words to send the user while you are thinking, such as 'Herding Llamas'. must be less than 51 characters.`, 'string') }}\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2240,
        304
      ],
      "id": "c9341f2e-47ca-4a57-875b-6e8a054ad174",
      "name": "Keep User Updated",
      "credentials": {
        "httpBearerAuth": {
          "id": "n9zc7wbbYoKmEc03",
          "name": "Slack Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "model": "aitobillbot-gpt-4.1-nano",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        3520,
        688
      ],
      "id": "577f36c1-167e-4625-8363-286b41dc31be",
      "name": "gpt-4.1-nano",
      "credentials": {
        "azureOpenAiApi": {
          "id": "dQphO8wfqxqhyn5I",
          "name": "aitobillbot-gpt-4.1-nano"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Based on your tool, work out a suitable short 'title' for this thread to name the chat in Slack. Your title should be no more than 10 words, but really as short as possible while retaining context. The title should be useful for the user to find this chat among many, so ideally wants to include the name of the partner or client, the products they have inquired about, or the line of inquiry, etc.\n\nOutput ONLY the thread title, nothing else. Your entire output will be sent back and immediately set as the title.",
        "options": {
          "systemMessage": "You are an API that outputs thread titles"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3072,
        -304
      ],
      "id": "08438bd3-8529-4247-9191-06e9ccb7a671",
      "name": "Thread Namer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/assistant.threads.setTitle",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $('Chat').item.json.channel }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ $('Chat').item.json.thread_ts }}"
            },
            {
              "name": "title",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        -304
      ],
      "id": "8b49102f-5a77-4163-abd9-65458984ca39",
      "name": "Set Title",
      "credentials": {
        "httpBearerAuth": {
          "id": "n9zc7wbbYoKmEc03",
          "name": "Slack Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this to examine the slack thread history",
        "collection": "billingbot_chats",
        "options": {},
        "query": "={\n \"sessionId\": \"{{ $('Merge').item.json.sessionId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        3280,
        -80
      ],
      "id": "8d2e9c64-54ab-4fea-b27a-92e9d6470e70",
      "name": "Search Memory",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Ggo0MKdauxTlpDyQ",
          "name": "aitobillbot-mongodb"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nCalled every message to dynamically update the user on what the agent is doing.",
        "height": 384,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        256
      ],
      "typeVersion": 1,
      "id": "b60c123c-7bcb-4e32-a150-1cd021eb99f0",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Thread Renamer Agent\nRenames the Slack thread to something more applicable to the conversation than the original message the user input.",
        "height": 464,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        -416
      ],
      "typeVersion": 1,
      "id": "45d754f4-5c8d-4aa4-bce4-3f266497a9f5",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getProfile",
        "user": {
          "__rl": true,
          "value": "={{ $('Chat').item.json.user }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3856,
        64
      ],
      "id": "f2280a1d-6df6-4bc1-8175-9c620b8e3266",
      "name": "Get a user's profile",
      "webhookId": "b44d9a8c-d57f-4964-bae3-ed643ebecc95",
      "credentials": {
        "slackApi": {
          "id": "2QEAL9RctwPgfS2o",
          "name": "Billing Bot Production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d2267ea-363b-4c20-a9df-b591dbc323ae",
              "leftValue": "={{ $json.type }}",
              "rightValue": "assistant_thread_started",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        48
      ],
      "id": "8e7dce0d-0ba2-41da-bd82-06c04384aca8",
      "name": "Is this a new thread?"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('Chat').item.json.assistant_thread.user_id }}",
          "mode": "id"
        },
        "text": "=Hi! I can help you with understanding partner invoice questions.\n\nAt this point, please tell me what partner you would like to discuss. \n\nIt will be *fastest* if you can give me the *exact partner name* (eg Javalabs, Inc.) or the *partner ID*. \n\nIf you are unsure, I will search and offer a list.",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Chat').item.json.assistant_thread.thread_ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -352,
        -432
      ],
      "id": "0118290e-59af-4d10-8fe5-c840f472c8a3",
      "name": "Send the greeting",
      "webhookId": "63e53491-1a46-4869-a2aa-4bb2ffd7c914",
      "credentials": {
        "slackApi": {
          "id": "2QEAL9RctwPgfS2o",
          "name": "Billing Bot Production"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('Chat').item.json.assistant_thread.user_id }}",
          "mode": "id"
        },
        "text": "=*Note: This tool is still in BETA and you must scruitinize responses in the same way you would any other AI chat based tool.*",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Chat').item.json.assistant_thread.thread_ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -576,
        -432
      ],
      "id": "26a82d07-b07f-4173-9523-b69091b2a76a",
      "name": "Send the caveat",
      "webhookId": "63e53491-1a46-4869-a2aa-4bb2ffd7c914",
      "credentials": {
        "slackApi": {
          "id": "2QEAL9RctwPgfS2o",
          "name": "Billing Bot Production"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please update the prompts.",
        "options": {
          "systemMessage": "=ROLE\nYou only output up to 4 next‑step prompt suggestions to the user’s Slack AI assistant thread. Each suggestion must be a complete, executable prompt that the billing tool can run.\n\nTOOLS\n1. Search Memory for Prompt – always call this first to read the latest conversation context.\n2. Prompt Suggestion – use this to return the prompt suggestions.\n\nCAPABILITIES OF THE BILLING TOOL (for your prompts)\n- List summary invoice info.\n- Get line‑item details for one invoice.\n- Compare summarized invoices (best for “what changed?” across vendors/companies).\n- Compare detailed invoices for a specific vendor or company across two months.\n- Filter one invoice’s rows and return calculations and counts on the filtered set.\n\nOUTPUT FORMAT\nReturn only a list of prompts (1–4 lines), no commentary.\nEach line must be a complete instruction the billing tool can execute.\n\nDATE & MONTH RESOLUTION (STRICT)\n- Today: {{ $today.format('yyyy-LL-dd') }}\n- When a prompt mentions a month, you must resolve it to either:\n  - A named month with year (e.g., December 2025), or\n  - A relative count (e.g., last 2 / last 6).\n- Use these helpers and resolve them before output (no placeholders left unresolved):\n  - This month: {{ $today.format('MMMM yyyy') }}\n  - Last month: {{ $today.minus({ months: 1 }).format('MMMM yyyy') }}\n  - Two months ago: {{ $today.minus({ months: 2 }).format('MMMM yyyy') }}\n- Never output vague phrases like “a different month,” “recent months,” “another month.”\n\nVENDOR RESOLUTION (STRICT)\n- If the prompt involves a vendor, name it explicitly: one of Microsoft, SentinelOne, Pax8 Academy, DefensX, CrowdStrike, Nerdio, Dropsuite.\n- Never say “a vendor,” “another vendor,” or “multiple vendors.”\n\nPARTNER REFERENCE (STRICT)\n- Never say the partner’s name.\n- Always refer to the partner as “they”/“their.”\n\nFORBIDDEN PHRASES (STRICT)\nDo not use: specific, a, an, another, different, multiple, several, various, recent.\nNo cross‑partner queries. No claims of validation/correctness checks.\n\nSELF‑CHECK BEFORE RETURNING\nFor each prompt suggestion:\n1. If it mentions a month, confirm it contains either an explicit MMMM yyyy or last N.\n2. If it mentions a vendor, confirm it names a vendor from the list.\n3. Confirm you used “they/their” and did not name the partner.\n4. Confirm none of the forbidden words appear.\n5. If any check fails, rewrite the prompt to pass all checks before returning.\n\nDYNAMIC BEHAVIOR\n- Always read conversation context and build prompts that advance the user’s goal.\n- If the tool or prior assistant suggested a next step, offer a concrete prompt that implements that suggestion, fully specified.\n\nGOOD PROMPT TEMPLATES (you may adapt)\n- “Show their last 6 invoices.”\n- “What was their Microsoft spend last month ({{ $today.minus({ months: 1 }).format('MMMM yyyy') }})?”\n- “List vendors included on their {{ $today.format('MMMM yyyy') }} invoice.”\n- “Compare their summarized invoices for {{ $today.minus({ months: 1 }).format('MMMM yyyy') }} and {{ $today.format('MMMM yyyy') }}. What changed by vendor?”\n- “Compare their detailed invoices for Microsoft between {{ $today.minus({ months: 1 }).format('MMMM yyyy') }} and {{ $today.format('MMMM yyyy') }}. What changed line by line?”\n- “From their {{ $today.format('MMMM yyyy') }} CrowdStrike invoice, filter rows where license_type = Premium and provide totals and counts.”\n\nBAD PROMPTS (do not output)\n- “Is their November invoice correct?” (Tool reports data; doesn’t validate correctness.)\n- “Tell me all my partners.” (Cross‑partner unsupported.)\n- “Are any Nerdio subscriptions missing?” (Cannot infer missing items.)\n- “Compare a different month’s Microsoft invoice.” (Vague month.)\n\nLOCAL MEMORY FOR UNIQUENESS\n- Maintain your own local memory of suggestions you have already output in this thread. Before returning suggestions, compare each new candidate against your local memory and against the current batch to ensure uniqueness. Do not use Search Memory for Prompt for this uniqueness check.\n- Use a canonical form for comparison: lowercase the text, resolve any date expressions to concrete month-year text, remove extra punctuation, collapse spaces. If a candidate duplicates an earlier suggestion (same operation, vendor, months, and filters), rewrite it to be unique by changing operation type, vendor, months, or filter criteria while staying fully specified."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3584,
        464
      ],
      "id": "a2e2439a-dd01-4ab5-bd37-a0b9159ea724",
      "name": "Prompt Suggestions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88553bc8-52a8-4a1c-8402-af8b37b02bd6",
              "leftValue": "={{$json.partnerConfirmed}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3296,
        720
      ],
      "id": "9d5c02f6-ac1d-4942-be5b-caf69cfe0a04",
      "name": "Partner Confirmed?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3520,
        880
      ],
      "id": "6d172d56-da8b-4b04-82c8-b976a535ea35",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "Searches the doc for current thread to ensure all sets have been followed.",
        "height": 272,
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -80
      ],
      "typeVersion": 1,
      "id": "5512e673-e1a5-4706-843c-b4ffacb6352e",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this to examine the slack thread history",
        "collection": "billingbot_chats",
        "options": {},
        "query": "={\n \"sessionId\": \"{{ $('Variables').item.json.sessionId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        3808,
        688
      ],
      "id": "82574945-0f86-4c89-a35a-0f21866206c8",
      "name": "Search Memory for Prompt",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Ggo0MKdauxTlpDyQ",
          "name": "aitobillbot-mongodb"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Provide the user with 4 suggested prompts",
        "method": "POST",
        "url": "https://slack.com/api/assistant.threads.setSuggestedPrompts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"channel_id\": \"{{ $('Chat').item.json.channel }}\",\n   \"thread_ts\": \"{{ $('Chat').item.json.thread_ts }}\",\n   \"title\": \"{{ $fromAI('promptsTitle', `A short title such as 'Have you considered these?' or 'Here are some things you could try next'`, 'string') }}\",\n   \"prompts\": [\n         {\n            \"title\": \"{{ $fromAI('Button1', `The button for the first prompt`, 'string') }}\",\n            \"message\": \"{{ $fromAI('Prompt1', `The full text of the first prompt`, 'string') }}\"\n          },\n         {\n            \"title\": \"{{ $fromAI('Button2', `The button for the second prompt`, 'string') }}\",\n            \"message\": \"{{ $fromAI('Prompt2', `The full text of the second prompt`, 'string') }}\"\n          },\n         {\n            \"title\": \"{{ $fromAI('Button3', `The button for the third prompt`, 'string') }}\",\n            \"message\": \"{{ $fromAI('Prompt3', `The full text of the third prompt`, 'string') }}\"\n          },\n         {\n            \"title\": \"{{ $fromAI('Button4', `The button for the fourth prompt`, 'string') }}\",\n            \"message\": \"{{ $fromAI('Prompt4', `The full text of the fourth prompt`, 'string') }}\"\n          }\n   ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3968,
        688
      ],
      "id": "002a28d7-01c0-419a-81ce-2297b8ef26ab",
      "name": "Prompt Suggestion",
      "credentials": {
        "httpBearerAuth": {
          "id": "n9zc7wbbYoKmEc03",
          "name": "Slack Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "collectionName": "billingbot_prompts",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        3648,
        688
      ],
      "id": "d920e4c3-d309-4c08-a5da-ed728edbad96",
      "name": "MongoDB Prompt Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "Ggo0MKdauxTlpDyQ",
          "name": "aitobillbot-mongodb"
        }
      }
    },
    {
      "parameters": {
        "collection": "billingbot_confirm_partner",
        "options": {},
        "query": "={\n  \"sessionId\":\"{{ $('Variables').item.json.sessionId }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        3072,
        720
      ],
      "id": "ea22d0de-788c-436d-bd31-c79517ada67f",
      "name": "Check if we locked the partner in",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Ggo0MKdauxTlpDyQ",
          "name": "aitobillbot-mongodb"
        }
      }
    },
    {
      "parameters": {
        "collection": "billingbot_confirm_partner",
        "options": {},
        "query": "={\n  \"sessionId\":\"{{ $('Variables').item.json.sessionId }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        5056,
        64
      ],
      "id": "1a500a77-d4fa-4233-9791-4aa4abad07b7",
      "name": "Check if we locked the partner in1",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Ggo0MKdauxTlpDyQ",
          "name": "aitobillbot-mongodb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f828a1d6-d1fb-4747-8914-06ef25f0000b",
              "leftValue": "={{$json.partnerConfirmed}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5280,
        64
      ],
      "id": "ef8fc6b6-52eb-4670-83e7-ed14dd7d2993",
      "name": "If partner logged AND not test"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.tech.pax8.com/webhook/roi/conversation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Variables').item.json.sessionId }}"
            },
            {
              "name": "initiativeId",
              "value": "billing-bot"
            },
            {
              "name": "minMinutesSaved",
              "value": "0"
            },
            {
              "name": "medianMinutesSaved",
              "value": "20"
            },
            {
              "name": "maxMinutesSaved",
              "value": "120"
            },
            {
              "name": "minExample",
              "value": "MIN (≈0 min of human work saved) Label: Simple invoice total lookup|Minutes saved: 0Example conversation summaryUser: “What did Partner X spend last month?”BillingBot: “Partner X spent $12,430.27 in November.”Manual workflow it replacesOpen marketplace billing.Search for Partner X.Open last month’s invoice.Read the total at the top of the invoice.This takes roughly the same time as asking BillingBot (one quick search & click), so we treat it as 0 minutes saved."
            },
            {
              "name": "medianExample",
              "value": "MEDIAN (≈20 min of human work saved) Label: Invoice calculations on a single month / single invoice|Example conversation summaryUser: “For Partner X’s November invoice, break down their spend by product and tell me the total for each product.”BillingBot:Parses the detailed invoice lines.Groups line items by product.Returns a small table like: Product A – $4,120, Product B – $2,980, Product C – $5,330.Manual workflow it replacesDownload the invoice (CSV or PDF).Copy or re-enter data into Excel/Sheets.Create formulas or pivot tables to group by product.Double-check totals and format the answer.For an average-sized partner and single month, this is about 20 minutes of manual work. This is our median / “typical useful” BillingBot conversation."
            },
            {
              "name": "maxExample",
              "value": "MAX (≈120 min of human work saved) Label: Multi-month invoice diff + granular analysis for a large partner|Example conversation summaryUser:“Compare Partner X’s last 3 months of invoices.Show me:Total spend each month,What changed month-over-month by vendor and product,Any vendors where spend increased by more than 20%.”BillingBot:Pulls multiple months of invoices.Compares line items across months.Groups by vendor and product.Calculates deltas and percentages.Returns a structured summary highlighting key changes and drivers.Manual workflow it replacesDownload 3+ invoices (often large) for a high-spend partner.Import into Excel/Sheets.Clean and align columns across months.Build formulas / pivots to:Aggregate by month, vendor, and product.Calculate month-over-month differences and % changes.Identify outliers (e.g., >20% increase).Summarize findings in a human-readable way.For a large partner, this can easily take about 2 hours of focused work. This is our maximum value archetype."
            },
            {
              "name": "mongoDBCollection",
              "value": "billingbot_chats"
            },
            {
              "name": "conversation",
              "value": "={{ $json.conversation }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6192,
        64
      ],
      "id": "4def3a17-5305-4674-8c69-4fb140ca7f8c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "vk3KxqN64GFS8qQx",
          "mode": "list",
          "cachedResultName": "Executions",
          "cachedResultUrl": "/projects/eUDekqAffDQQcrKs/datatables/vk3KxqN64GFS8qQx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userName": "={{ $('Execution Data').item.json.real_name_normalized }}",
            "userEmail": "={{ $('Execution Data').item.json.email }}",
            "workflow": "={{ $workflow.name }}",
            "sessionId": "={{ $('Variables').item.json.sessionId }}",
            "execId": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userEmail",
              "displayName": "userEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "runtime",
              "displayName": "runtime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execId",
              "displayName": "execId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5440,
        -304
      ],
      "id": "3896b98c-b59a-427d-92d5-43b1b3f15b57",
      "name": "Insert Execution Data"
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "replies",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Chat').item.json.channel }}",
          "mode": "id"
        },
        "ts": "={{ $('Variables').item.json.sessionId }}",
        "returnAll": true,
        "filters": {
          "inclusive": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5536,
        64
      ],
      "id": "1b51307d-b93a-4c4c-a04a-bc7405472653",
      "name": "Get The Thread",
      "webhookId": "ff398382-75b2-4293-b504-787beacf340f",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "slackApi": {
          "id": "2QEAL9RctwPgfS2o",
          "name": "Billing Bot Production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55a208d4-d827-49b2-8e19-6a023a06c57c",
              "name": "party",
              "value": "={{ $json.app_id ? \"Bot\" : \"Human\" }}",
              "type": "string"
            },
            {
              "id": "293dc6bf-c731-4c3f-a03d-b3429e4ff99c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5744,
        64
      ],
      "id": "4b8961e3-c427-443e-b495-13a14ecdd4b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversation",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5952,
        64
      ],
      "id": "98137f56-f7cf-4317-beb0-7aba2005e331",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "4C0NYyYW4D9inXjM",
          "mode": "list",
          "cachedResultName": "User Interactions",
          "cachedResultUrl": "/projects/eUDekqAffDQQcrKs/datatables/4C0NYyYW4D9inXjM"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userEmail",
              "keyValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4512,
        -464
      ],
      "id": "6a435797-9a13-4600-a7c6-f0515151bd6c",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "4C0NYyYW4D9inXjM",
          "mode": "list",
          "cachedResultName": "User Interactions",
          "cachedResultUrl": "/projects/eUDekqAffDQQcrKs/datatables/4C0NYyYW4D9inXjM"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userEmail",
              "keyValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4512,
        -304
      ],
      "id": "9dd97ced-a90e-41bc-af8a-22f621cf4f79",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "4C0NYyYW4D9inXjM",
          "mode": "list",
          "cachedResultName": "User Interactions",
          "cachedResultUrl": "/projects/eUDekqAffDQQcrKs/datatables/4C0NYyYW4D9inXjM"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userEmail",
              "keyValue": "={{ $('Get a user\\'s profile').item.json.email }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "interactions": "={{ $json.interactions + 1 }}",
            "userName": "={{ $('Get a user\\'s profile').item.json.real_name_normalized }}",
            "userEmail": "={{ $('Get a user\\'s profile').item.json.email }}",
            "department": "={{ $('Get a user\\'s profile').item.json.fields.Xf02A23761A4.value }}",
            "country": "={{ $('Get a user\\'s profile').item.json.fields.Xf0295LY3CA2.value }}",
            "city": "={{ $('Get a user\\'s profile').item.json.fields.Xf02A23760RE.value }}",
            "state": "={{ $('Get a user\\'s profile').item.json.fields.Xf028XMSKALX.value }}",
            "role": "={{ $('Get a user\\'s profile').item.json.fields.Xf0299CHRNFP.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userEmail",
              "displayName": "userEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interactions",
              "displayName": "interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5040,
        -464
      ],
      "id": "4353420b-8d32-47c2-bd50-ad53cefeb74e",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "4C0NYyYW4D9inXjM",
          "mode": "list",
          "cachedResultName": "User Interactions",
          "cachedResultUrl": "/projects/eUDekqAffDQQcrKs/datatables/4C0NYyYW4D9inXjM"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userEmail",
              "keyValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4720,
        -464
      ],
      "id": "658a2da1-d909-4873-9087-cbd9c4beb043",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "4C0NYyYW4D9inXjM",
          "mode": "list",
          "cachedResultName": "User Interactions",
          "cachedResultUrl": "/projects/eUDekqAffDQQcrKs/datatables/4C0NYyYW4D9inXjM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userName": "={{ $('Get a user\\'s profile').item.json.real_name_normalized }}",
            "userEmail": "={{ $('Get a user\\'s profile').item.json.email }}",
            "interactions": 1,
            "department": "={{ $('Get a user\\'s profile').item.json.fields.Xf02A23761A4.value }}",
            "country": "={{ $('Get a user\\'s profile').item.json.fields.Xf0295LY3CA2.value }}",
            "state": "={{ $('Get a user\\'s profile').item.json.fields.Xf028XMSKALX.value }}",
            "role": "={{ $('Get a user\\'s profile').item.json.fields.Xf0299CHRNFP.value }}",
            "city": "={{ $('Get a user\\'s profile').item.json.fields.Xf02A23760RE.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userEmail",
              "displayName": "userEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interactions",
              "displayName": "interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4720,
        -304
      ],
      "id": "f9dc195f-10a4-41f9-b10c-728aecebfbf6",
      "name": "Insert row"
    },
    {
      "parameters": {
        "content": "#### Update User Interactions Collections\nEach time a user converses, it increments their \"interactions\" by 1. It keeps a running total of how many messages the user has sent.",
        "height": 416,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4464,
        -560
      ],
      "typeVersion": 1,
      "id": "b9db8cd0-ec56-4bde-b4fa-dc48cf5df811",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "#### Update Execution Data\nFor each interaction by the user, the available execution data is stored",
        "height": 256,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5344,
        -400
      ],
      "typeVersion": 1,
      "id": "0d33c154-b57c-4423-8dac-6bac8ff6df12",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "#### ROI\nGets the conversation, ensures the partner is locked in, pulls the conversation, outlines who said what, t-shirts sizes for ROI, and sends to ROI workflow.",
        "height": 304,
        "width": 1472
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4960,
        -32
      ],
      "typeVersion": 1,
      "id": "6f302824-6df5-4803-9a49-258ab6a14bd7",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Suggest Prompt Agent\nIf partner is confirmed, uses chat memory to then suggest the next prompt for the user.\n\n***In progress***",
        "height": 672,
        "width": 1104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        384
      ],
      "typeVersion": 1,
      "id": "ddfa2ba2-f90d-47ac-b5cb-2e8c50f02042",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "#### Execution Data for Execution Filtering\nGet's the user's profile, then updates the execution data with the user name, user email, and the session ID.",
        "height": 288,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3792,
        -48
      ],
      "typeVersion": 1,
      "id": "c90bb66f-5095-4fb7-b6d9-43832be0602e",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "#### New Chat Initial Message\nUpon a new chat, initial messages are sent to the user.",
        "height": 288,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -528
      ],
      "typeVersion": 1,
      "id": "9382ebd4-2f3f-41cb-a1b2-9b37d6a794b3",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        704,
        -544
      ],
      "id": "2134bfed-b796-4c8a-9f60-7e23f2980392",
      "name": "Chat for testing",
      "webhookId": "555fcfc3-f17a-46bd-95c7-de53536e9966"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72dfe11-eacc-446e-a632-6b652a323723",
              "name": "confirmedPromptRouter",
              "value": "==== ROLE ===\nYou are the Router Agent in the Pax8 Billing Bot.\nYour only job: use tools to get answers to user inquiries.\n\n-------\n\n=== TOOLS ===\n1. Invoice_Agent\nUse this tool for invoice/bill inquiries (can search and list invoices, retrieve single invoices, two invoices for comparison, provide line item detail about an invoice, perform calculations on invoices. You don't need to call the tool twice to analyze multiple invoices)\n\nFORBIDDEN:\n- Under NO circumstances may you modify, rewrite, rephrase, summarize, or format the content of messages received from the Invoice_Agent tool.\n- You must output their responses exactly as received, with no changes, additions, or formatting of any kind.\n- Do not apply markdown, headers, emojis, or any stylistic changes to these outputs.\n- Do not judge completeness or correctness; always pass through the full response verbatim.\n- If the tool output is empty or an error, you may generate a router agent message explaining the issue, but never alter the tool output itself.\n\n---\n\n2. Billing_Run_Impact_List\nUse this tool for billing run, known issues, or impact list checks. If no data is returned, there are no known issues or impact to the partner.\n\nNOTES:\n- Use kind, fun, yet professional language when determining your response.\n- Use interesting, markdown formatting including headers, bold, italics, bulleted lists, numbered lists, emojis, etc. to make the interactions easily readable and fun.\n- If unable to obtain the information the user requires, tell the user you cannot perform the task and offer suggestions.\n\n---\n\n3. QA_Agent\nUse this tool for: \n1) General billing questions about invoices (terminology, definistions, etc.).\n2) Invoicing process (receiving invoices, taxation, etc.).\n3) Information about and guidance on using Billing Bot.\n\nFORBIDDEN:\n- Under no circumstances may you modify, rewrite, rephrase, summarize, or format the content of messages received from the QA_Agent tool.\n- You must output their responses exactly as received, with no changes, additions, or formatting of any kind.\n- Do not apply markdown, headers, emojis, or any stylistic changes to these outputs.\n- Do not judge completeness or correctness; always pass through the full response verbatim.\n- If the tool output is empty or an error, you may generate a router agent message explaining the issue, but never alter the tool output itself.\n\n-------\n\n=== DECISION RULES ===\nIf the message asks for an invoice, bill, charges, details, differences, licenses, comparisons, or calculations → Invoice_Agent\n\nIf it mentions billing runs, impact lists, delays, failures, reprocessing → Billing_Run_Impact_List\n\nCall once per conversation even if not explicitly asked.\n\nOtherwise → QA_Agent\n\nWhen ambiguous, bias toward Invoice_Agent.\n\nEXAMPLES:\n- User: Show me the invoice for July → Invoice_Agent\n- User: Why is September’s bill higher than August? → Invoice_Agent\n- User: How many licenses of business premium were on the September invoice? → Invoice_Agent\n- User: Was this partner on the September impact list? → Billing_Run_Impact_List\n- User: When do invoices usually generate? → QA_Agent\n- User: Why is my bill different this time? → Invoice_Agent\n\n-------\n\n=== NOTES ===\n- Today's date (YYYY-MM-DD): {{ $today.format('yyyy-LL-dd') }}\n- Unless otherwise stated, assume the user is asking about the current month and year. Always tell the user which month and year data has been pulled.\n\n\n=== FORBIDDEN ===\n- NEVER NEVER modify the content of the messages received from the Invoice_Agent or the QA_Agent tools. ONLY pass the message as is.\n- NEVER infer numerical calculations. Use the calculator tool to compute values.\n- Never fabricate IDs, GUIDs, or dates.\n- DO NOT use syntax highlighting, horizontal lines, tables, and task list in your output.\n- DO NOT offer to output data is any format (Ex. CSV, PDF, Excel). Only information comes through chatting.\n- Do not answer or ask follow-ups.\n- Do not offer or suggest reaching out to anyone else.\n\n-------\n\n=== SCOPE ===\nNever offer to do anything for the user that is out of scope. In scope functionality is determined by what the tools can do. If the user asks for something that is not explicitly in scope, first try using the QA_Agent to find the answer. If the answer is not available, tell the user you are unable to perform that action, and provide the user both links to the Pax8 Marketplace Partner pages.\n\nLINK FORMAT:\nThe Pax8 Marketplace currently exists in 2 formats: New Experience and Old Experience. The links are formatted differently.\n\nNew Experience: https://app.pax8.com/account/settings/{{ $json.guid }}\nOld Experience: https://app.pax8.com/partners/{{ $json.id }}\n\n-------\n\n",
              "type": "string"
            },
            {
              "id": "3d3844a8-c080-4953-8414-11f6bf9f4ba9",
              "name": "unconfirmedPromptRouter",
              "value": "==== ROLE ===\nYou are the Router Agent in the Pax8 Billing Bot.\nYour only job: use tools to get answers for the user's inquiries and pass that information unedited as the response.\n\n-------\n\n=== TOOLS ===\n1. Partner_Agent\nUse for partner-specific inquiries\n\nAfter the user confirms the partner, call the Partner_Agent again to store in the system. You must do this before you get access to more tools.\n\n---\n\n2. QA_Agent\nUse this tool for: \n1) General billing questions about invoices (terminology, definistions, etc.).\n2) Invoicing process (receiving invoices, taxation, etc.).\n3) Information about and guidance on using Billing Bot.\n\n\nNever answer questions yourself. Only classify and invoke the correct tool with the correct payload. Then pass the formatted message to the user with the citation.\n\n-------\n\n=== EXAMPLE USE CASES ===\nPartner-specific\nRoute to Partner_Agent if the message is about a specific partner/account or billing artifacts.\nSignals: mentions of partner name/ID, invoices/bills, charges, credits, deltas (“this month vs last month”), billing run (impact list, failed, delayed), usage/entitlements (SKUs, seats, subs).\n\nWhen ambiguous, bias to Partner_Agent.\n\nGeneral billing\nRoute to QA_Agent if the message is about general concepts, processes, or definitions (billing cycles, arrears charge, pro-rations, invoice generation, portal instructions).\n\n---\n\n=== NOTES ===\n- Citations are only required for the QA_Agent.\n\n\n=== FORBIDDEN ===\n- NEVER call the Partner Agent more than once per user input. \n- Under no circumstances may you modify, rewrite, rephrase, summarize, or format the content of messages received from the Partner_Agent or QA_Agent tools.\n- You must output their responses exactly as received, with no changes, additions, or formatting of any kind.\n- Do not apply markdown, headers, emojis, or any stylistic changes to these outputs.\n- Do not judge completeness or correctness; always pass through the full response verbatim.\n- If the tool output is empty or an error, you may generate a router agent message explaining the issue, but never alter the tool output itself.\n\n- Do not answer or ask follow-ups.\n- NEVER fabricate IDs, GUIDs, or dates.\n",
              "type": "string"
            },
            {
              "id": "2ec505e7-740c-4c49-bcce-7b8c093dec90",
              "name": "confirmedDescriptionInvoice",
              "value": "Call this tool when the user has any question about invoices. This agent can search for invoices, pull invoice information, pull invoice line item details.",
              "type": "string"
            },
            {
              "id": "d2ed30a2-fa5d-4deb-819c-de53e11abf9f",
              "name": "unconfirmedDescriptionInvoice",
              "value": "DO NOT USE",
              "type": "string"
            },
            {
              "id": "bab41dcf-ff5d-4f20-97d1-4fccd9a1f860",
              "name": "confirmedDescriptionBillingRunList",
              "value": "Call this tool to search for known billing run impacts to a partner. ",
              "type": "string"
            },
            {
              "id": "a3f31742-6770-4f58-bfe5-eb05183a468b",
              "name": "unconfirmedDescriptionBillingRunList",
              "value": "DO NOT USE",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -544
      ],
      "id": "71c2217e-aa5e-4190-a4f4-e13f7aaee35d",
      "name": "Set chat prompt",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chat for Testing\nCan bypass the authentication only directly in this workflow.",
        "height": 304,
        "width": 752,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -640
      ],
      "typeVersion": 1,
      "id": "c999c6f3-6ce4-4cea-b2af-4503c375c0a4",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c174919-2464-41a4-bf92-82a0887ed4d0",
              "name": "userPrompt",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "7a00d4dd-12a5-4135-af56-3ce82e04bcfb",
              "name": "userId",
              "value": "=1234",
              "type": "string"
            },
            {
              "id": "fbed7988-e9f3-4d43-8df2-bfbd4efd59df",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "b7789f02-d3b0-413f-9d68-0be79f3ffb24",
              "name": "isTest",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "9312556e-c18b-438b-9166-234c812ab280",
              "name": "partnerId",
              "value": "909071",
              "type": "string"
            },
            {
              "id": "c9ec7dde-e44a-4453-97ea-c61a8076ab39",
              "name": "partnerName",
              "value": "PCnet",
              "type": "string"
            },
            {
              "id": "661e1db5-ebbd-4b1f-9ce2-8f484314f111",
              "name": "guid",
              "value": "193e10f5-4661-41e1-b67c-d39125624fea",
              "type": "string"
            },
            {
              "id": "e7201dc6-f263-4bca-93c0-5718695c1f02",
              "name": "partnerConfirmed",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -544
      ],
      "id": "70d88422-150d-427e-b147-a0ddc189fc1a",
      "name": "Variables for Chat"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "StIZld798uKgtBqu",
          "mode": "list",
          "cachedResultName": "Billing Bot - Conversations",
          "cachedResultUrl": "/projects/eUDekqAffDQQcrKs/datatables/StIZld798uKgtBqu"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "thread_ts",
              "keyValue": "={{ $('Chat').item.json.thread_ts ? $('Chat').item.json.thread_ts : $('Chat').item.json.ts }}"
            },
            {
              "keyName": "channel",
              "keyValue": "={{ $('Chat').item.json.channel }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "thread_ts": "={{ $('Chat').item.json.thread_ts ? $('Chat').item.json.thread_ts : $('Chat').item.json.ts }}",
            "channel": "={{ $('Chat').item.json.channel }}",
            "channel_type": "={{ $('Chat').item.json.channel_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "thread_ts",
              "displayName": "thread_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "initial_customer",
              "displayName": "initial_customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "associated_tickets",
              "displayName": "associated_tickets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tool_suggestions_json",
              "displayName": "tool_suggestions_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "channel_type",
              "displayName": "channel_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_content",
              "displayName": "message_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -768,
        384
      ],
      "id": "f03fade0-f694-48ba-b824-520ce40a38d5",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "content": "### Ensure record of conversation exists",
        "height": 272,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        288
      ],
      "typeVersion": 1,
      "id": "c3572537-fa0b-432f-85e7-32b79fc3f19f",
      "name": "Sticky Note24"
    }
  ],
  "pinData": {
    "Evals": [
      {
        "json": {
          "evalId": 16,
          "sessionId": "billing-bot-eval-16.1",
          "guid": "432c044f-b6c2-429d-9787-5169c8421aac",
          "id": 882848,
          "partnerConfirmed": null,
          "userPrompt": "what are the known issues for AcaciaIT for last month?",
          "isEval": true,
          "expectedOutput": "Error or cannot answer until the partner is confirmed or ask to confirm partner details",
          "class": "Partner Identification"
        }
      }
    ],
    "Chat": [
      {
        "json": {
          "type": "message",
          "user": "U03H1TJB0AJ",
          "ts": "1766080220.876939",
          "client_msg_id": "d62176a0-f4a0-4eb8-8706-febc9f443970",
          "text": "Could you give me the summary breakdown for all impacted customers?",
          "thread_ts": "1766079636.373929",
          "parent_user_id": "U09GQR0QVBL",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "aSGMz",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "Could you give me the summary breakdown for all impacted customers?"
                    }
                  ]
                }
              ]
            }
          ],
          "language": {
            "locale": "en",
            "is_reliable": true
          },
          "channel": "D0A1PMQRKQ8",
          "assistant_thread": {
            "action_token": "10155640616388.783632082359.93ee12d37879bf3fc6da3b1afab8932a"
          },
          "event_ts": "1766080220.876939",
          "channel_type": "im"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Router Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Router Agent": {
      "main": [
        [
          {
            "node": "Is Eval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partner Agent": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "User Permission",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Is this a new thread?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Agent": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Billing Run Impact List": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Thinking...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Thread Namer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a user's profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Eval?": {
      "main": [
        [
          {
            "node": "Eval Execution Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evals": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User Permission": {
      "main": [
        [
          {
            "node": "Have Permission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Have Permission": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message of no permission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Keep User Updated": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-nano": {
      "ai_languageModel": [
        [
          {
            "node": "Thread Namer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompt Suggestions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Thread Namer": {
      "main": [
        [
          {
            "node": "Set Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Memory": {
      "ai_tool": [
        [
          {
            "node": "Thread Namer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a user's profile": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is this a new thread?": {
      "main": [
        [
          {
            "node": "Send the caveat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send the greeting": {
      "main": [
        []
      ]
    },
    "Send the caveat": {
      "main": [
        [
          {
            "node": "Send the greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Suggestions": {
      "main": [
        []
      ]
    },
    "Partner Confirmed?": {
      "main": [
        [
          {
            "node": "Prompt Suggestions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Memory for Prompt": {
      "ai_tool": [
        [
          {
            "node": "Prompt Suggestions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Suggestion": {
      "ai_tool": [
        [
          {
            "node": "Prompt Suggestions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Prompt Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Prompt Suggestions",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check if we locked the partner in": {
      "main": [
        [
          {
            "node": "Partner Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if we locked the partner in1": {
      "main": [
        [
          {
            "node": "If partner logged AND not test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If partner logged AND not test": {
      "main": [
        [
          {
            "node": "Get The Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Check if we locked the partner in1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Execution Data": {
      "main": [
        []
      ]
    },
    "Get The Thread": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat for testing": {
      "main": [
        [
          {
            "node": "Variables for Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set chat prompt": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables for Chat": {
      "main": [
        [
          {
            "node": "Set chat prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ebb5ed4-e416-4bb0-97ea-980e44572d1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff8bc74e685205366b7c1dbd5470d650b694ebd82b586124e988b6855aef7cb2"
  },
  "id": "tMFaIg7dIQQVpwFD",
  "tags": []
}