workflows/Bulk-Slot-Creator.json
{
  "name": "Bulk Slot Creator",
  "nodes": [
    {
      "id": "a1b2c3d4",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "slotCount",
              "value": 10,
              "type": "number"
            },
            {
              "id": "p2",
              "name": "namingPrefix",
              "value": "SLOT-",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "n8nBaseUrl",
              "value": "http://localhost:5678",
              "type": "string"
            },
            {
              "id": "p4",
              "name": "apiKey",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6",
      "name": "Generate Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "jsCode": "const config = $('Configuration').first().json;\nconst count = config.slotCount;\nconst prefix = config.namingPrefix;\nconst padLen = Math.max(3, String(count).length);\n\nconst items = [];\nfor (let i = 1; i <= count; i++) {\n  const num = String(i).padStart(padLen, '0');\n  items.push({\n    json: {\n      slotName: `${prefix}${num}`,\n      requestBody: {\n        name: `${prefix}${num}`,\n        nodes: [{\n          id: \"trigger\",\n          name: \"When clicking 'Test workflow'\",\n          type: \"n8n-nodes-base.manualTrigger\",\n          typeVersion: 1,\n          position: [0, 0],\n          parameters: {}\n        }],\n        connections: {},\n        settings: { executionOrder: \"v1\" }\n      }\n    }\n  });\n}\n\nreturn items;"
      }
    },
    {
      "id": "d4e5f6a7",
      "name": "Create Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').first().json.n8nBaseUrl }}/api/v1/workflows",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('Configuration').first().json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst created = items.map(item => ({\n  id: item.json.id,\n  name: item.json.name\n}));\n\nreturn [{\n  json: {\n    totalCreated: created.length,\n    workflows: created,\n    message: `Created ${created.length} empty workflow slots ready for SDLC reserve-and-claim.`\n  }\n}];"
      }
    },
    {
      "id": "f6a7b8c9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -340],
      "parameters": {
        "content": "## Bulk Slot Creator\n\nCreates empty workflow slots in n8n for the SDLC reserve-and-claim pattern.\n\n### Setup\n1. Edit the **Configuration** node:\n   - `slotCount` — how many empty workflows to create\n   - `namingPrefix` — prefix for slot names (default: \"SLOT-\")\n   - `n8nBaseUrl` — your n8n instance URL\n   - `apiKey` — your n8n API key (Settings → API)\n\n2. Click **Test Workflow**\n\n### Notes\n- Created workflows are inactive with only a manual trigger\n- They may land in your Personal folder — move them to the\n  correct project folder in n8n UI before running SDLC reserve\n- Names use zero-padded numbers: SLOT-001, SLOT-002, etc.",
        "width": 520,
        "height": 360
      }
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Generate Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slots": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
