example/tools/Get Invoice Totals.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fe3a6f6-2c32-4a22-a3d9-f624e0a658bc",
              "name": "partnerId",
              "value": "={{ $('Input').item.json.partnerId }}",
              "type": "string"
            },
            {
              "id": "016a86ae-6873-42ef-8e32-8e145187c081",
              "name": "invoiceDate",
              "value": "={{ $('Input').item.json.invoiceDate }}",
              "type": "string"
            },
            {
              "id": "d4760c1d-5217-4aed-bb24-078713e16b0a",
              "name": "searchField",
              "value": "={{ $('Input').item.json.searchField }}",
              "type": "string"
            },
            {
              "id": "288f880e-bed4-43f2-ac72-1fd38182a311",
              "name": "searchParam",
              "value": "={{ $('Input').item.json.searchParam }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        96
      ],
      "id": "ea223478-169d-4260-be29-164b48256ced",
      "name": "Variables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://app.pax8.com/p8p/api-v1/invoice/1/getInvoiceRows?",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "partnerId",
              "value": "={{ $json.partnerId }}"
            },
            {
              "name": "invoiceDate",
              "value": "={{ $json.invoiceDate }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        96
      ],
      "id": "ba73c4f8-7022-45d0-9b4f-e5313a476c78",
      "name": "Get Invoice Rows",
      "alwaysOutputData": true,
      "credentials": {
        "oAuth2Api": {
          "id": "UyMc4dkYbAN56KA5",
          "name": "Marketplace - 12/11/2025T15:00"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83b23c28-6206-4d51-94a7-bb5392c6dc58",
              "leftValue": "={{ $json[$('Variables').item.json.searchField] }}",
              "rightValue": "={{ $('Variables').item.json.searchParam }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        224,
        192
      ],
      "id": "644ccaa6-24ce-4508-b2fa-2bc715b8f399",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.records",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "7a4359bc-9900-4502-afd9-c6940e0eb551",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f372e63-280e-47a8-a640-f44c50390fb7",
              "name": "salesTax",
              "value": "={{ $json.salesTax }}",
              "type": "number"
            },
            {
              "id": "27fed91e-270b-43fd-8870-df6a05f55a36",
              "name": "total",
              "value": "={{ $json.total }}",
              "type": "number"
            },
            {
              "id": "23f19e55-478b-4fcd-8950-0e60eac85c1f",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "e4519d94-73c3-4985-aec2-d4a0aae0fc8b",
              "name": "quantity",
              "value": "={{ $json.quantity }}",
              "type": "number"
            },
            {
              "id": "483a021f-449f-4a2a-9225-261f64c4723a",
              "name": "cost",
              "value": "={{ $json.cost }}",
              "type": "number"
            },
            {
              "id": "99686284-18e5-40c8-876a-24cb31ae2f4f",
              "name": "billingFee",
              "value": "={{ $json.billingFee }}",
              "type": "number"
            },
            {
              "id": "ffd47414-0b35-4394-8cbd-1c5a6d878d93",
              "name": "costTotal",
              "value": "={{ $json.costTotal }}",
              "type": "number"
            },
            {
              "id": "cd5c57a7-a33d-4553-8b36-1fe87cb5d822",
              "name": "billingFeeRate",
              "value": "={{ $json.billingFeeRate }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        192
      ],
      "id": "a3a93078-0a72-402c-996e-436d2fa64cea",
      "name": "Convert to Numbers",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "costTotal"
            },
            {
              "aggregation": "sum",
              "field": "salesTax"
            },
            {
              "aggregation": "countUnique",
              "field": "companyName"
            },
            {
              "field": "recordId"
            },
            {
              "aggregation": "countUnique",
              "field": "productName"
            },
            {
              "aggregation": "sum",
              "field": "quantity"
            },
            {
              "aggregation": "countUnique",
              "field": "sku"
            },
            {
              "aggregation": "countUnique",
              "field": "vendorName"
            },
            {
              "aggregation": "sum",
              "field": "total"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        672,
        112
      ],
      "id": "af26906b-4f7b-4930-96e3-38110922eb38",
      "name": "Summarize Totals",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "costTotal"
            },
            {
              "aggregation": "sum",
              "field": "salesTax"
            },
            {
              "aggregation": "sum",
              "field": "quantity"
            }
          ]
        },
        "fieldsToSplitBy": "companyName",
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        672,
        384
      ],
      "id": "b11f3cd3-c6c4-4924-8bb1-a7c2825ef354",
      "name": "Summarize by Company",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "partnerId"
            },
            {
              "name": "invoiceDate"
            },
            {
              "name": "searchField"
            },
            {
              "name": "searchParam"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        96
      ],
      "id": "590ca4b9-15a5-4236-832f-4e1f207fc9e3",
      "name": "Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b15b398-e061-402f-aa50-a71fa8186c99",
              "name": "Output",
              "value": "No records were found for the query.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "807dcee4-0c97-4b9a-94ea-67e57e382bb0",
      "name": "Empty Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "096668bd-23d2-4f2d-8613-583277c6befb",
              "leftValue": "={{ $json.body.totalRecordCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "05997cfa-1fdf-4b4d-973c-36ead58a54a0",
      "name": "If 0 Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b8f2857-8ad2-497e-ad50-9d1d6d3a5991",
              "leftValue": "={{ $json.sum_costTotal }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        896,
        480
      ],
      "id": "cad7bb09-69bd-4e76-9a7d-e4053ac66e8b",
      "name": "Filter No costTotal",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b8f2857-8ad2-497e-ad50-9d1d6d3a5991",
              "leftValue": "={{ $json.sum_costTotal }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        896,
        288
      ],
      "id": "778a90b7-cb4c-4d23-a5f3-53093e3d9fd4",
      "name": "Filter With costTotal",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        128
      ],
      "id": "08f24b94-1d8b-42b0-93f0-de75647af643",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "companyName"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1120,
        288
      ],
      "id": "dd35b42f-c08e-43a0-a3bc-219741af4ec3",
      "name": "Count With costTotal",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "companyName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1120,
        480
      ],
      "id": "1c5df9a6-095d-4d32-88ff-f13cd0ccf3b0",
      "name": "Count No costTotal",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de27bf5d-5c86-46d4-aec4-0a921ed37d8f",
              "name": "count_companyName_No_costTotal",
              "value": "={{ $json.count_companyName }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        480
      ],
      "id": "9f8f9313-7565-481a-acc4-21830cc35d98",
      "name": "Set No costTotal",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bbea7f0-b20f-47d9-a552-f8ca332f17c3",
              "name": "count_companyName_With_costTotal",
              "value": "={{ $json.count_companyName }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        288
      ],
      "id": "3e22b1e2-131b-451f-936f-988c05979455",
      "name": "Set With costTotal",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        144
      ],
      "id": "d7ff46b0-f753-4ece-b69e-91f79b8ebf6e",
      "name": "Output",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c9cc680-44fc-4fe8-83f2-fc3fc9dbdf1c",
              "name": "marginDollars",
              "value": "={{ $json.sum_total - $json.sum_costTotal }}",
              "type": "number"
            },
            {
              "id": "e185aa28-daee-4779-8fb3-25985f71a0fe",
              "name": "marginPercentage",
              "value": "={{ $json.sum_total > 0 ? Number(((($json.sum_total - $json.sum_costTotal) / $json.sum_total) * 100).toFixed(2)) : 0 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        112
      ],
      "id": "e6c467b4-60f3-400b-9cf4-d3c5e550f998",
      "name": "Calculate Margin"
    }
  ],
  "connections": {
    "Variables": {
      "main": [
        [
          {
            "node": "Get Invoice Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice Rows": {
      "main": [
        [
          {
            "node": "If 0 Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Convert to Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Numbers": {
      "main": [
        [
          {
            "node": "Summarize Totals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize by Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Totals": {
      "main": [
        [
          {
            "node": "Calculate Margin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize by Company": {
      "main": [
        [
          {
            "node": "Filter No costTotal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter With costTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 0 Records": {
      "main": [
        [
          {
            "node": "Empty Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter No costTotal": {
      "main": [
        [
          {
            "node": "Count No costTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter With costTotal": {
      "main": [
        [
          {
            "node": "Count With costTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count With costTotal": {
      "main": [
        [
          {
            "node": "Set With costTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count No costTotal": {
      "main": [
        [
          {
            "node": "Set No costTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No costTotal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set With costTotal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calculate Margin": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Input": [
      {
        "partnerId": 903580,
        "invoiceDate": "2025-12-01",
        "searchField": "vendorName",
        "searchParam": "Microsoft"
      }
    ]
  },
  "meta": {
    "instanceId": "ff8bc74e685205366b7c1dbd5470d650b694ebd82b586124e988b6855aef7cb2"
  }
}