example/tools/List Invoices.json
{
  "name": "List Invoices",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "partnerId"
            },
            {
              "name": "offset"
            },
            {
              "name": "max"
            },
            {
              "name": "order"
            }
          ]
        }
      },
      "id": "dc0145c6-dc5b-454b-8ea2-cb4f666b9e15",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        208,
        720
      ]
    },
    {
      "parameters": {
        "url": "https://app.pax8.com/p8p/api-v2/1/invoice",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "elastic"
            },
            {
              "name": "offset",
              "value": "={{ $('Start').item.json.offset }}"
            },
            {
              "name": "max",
              "value": "={{ $('Start').item.json.max }}"
            },
            {
              "name": "customerInvoices",
              "value": "false"
            },
            {
              "name": "partnerId",
              "value": "={{ $json.partnerId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        720
      ],
      "id": "aeb91587-7309-4c5d-9590-f24f57096d73",
      "name": "List Invoices",
      "credentials": {
        "oAuth2Api": {
          "id": "UyMc4dkYbAN56KA5",
          "name": "Marketplace - 12/11/2025T15:00"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9085fe84-57e9-4966-a19e-c8f8e044519d",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        880,
        720
      ],
      "id": "4fbb6746-4bf8-4ecb-99d6-7b022ee70392",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "records",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        720
      ],
      "id": "8005956f-5085-455a-9328-fd56053cf86e",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f42b596b-9ccf-493d-b50e-937abf389449",
              "name": "balance",
              "value": "={{ $json.balance }}",
              "type": "number"
            },
            {
              "id": "138d7748-f60e-4e94-81a1-8955796767e6",
              "name": "carriedBalance",
              "value": "={{ $json.carriedBalance }}",
              "type": "number"
            },
            {
              "id": "78b2efea-a55c-4e81-a661-8efba8198b5d",
              "name": "total",
              "value": "={{ $json.total }}",
              "type": "number"
            },
            {
              "id": "11d34e75-48a8-4259-ab50-a8d87ee5c4d0",
              "name": "partnerName",
              "value": "={{ $json.partnerName }}",
              "type": "string"
            },
            {
              "id": "52158866-9fca-4edd-8866-7ca256a1791f",
              "name": "dueDate",
              "value": "={{ $json.dueDate }}",
              "type": "string"
            },
            {
              "id": "995127c1-5a34-44b9-bb92-951b296b8133",
              "name": "partnerCountryIsoCode",
              "value": "={{ $json.partnerCountryIsoCode }}",
              "type": "string"
            },
            {
              "id": "c8e74b55-5088-49a9-a2ee-db2b34703126",
              "name": "invoiceDate",
              "value": "={{ $json.invoiceDate }}",
              "type": "string"
            },
            {
              "id": "4b1545d4-1ae4-4f38-ade5-3bd0f85f2d05",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "b7c62f3e-f6dd-4d72-aacd-fd058710bf6c",
              "name": "currencyId",
              "value": "={{ $json.currencyId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        720
      ],
      "id": "7bfe7ae9-e331-40f3-aa38-0e98c9718f58",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "partnerId": 905765,
          "offset": "0",
          "max": "100",
          "order": "asc"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "List Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Invoices": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d04b39a8-3e3d-4242-9625-fb5798e9c470",
  "meta": {
    "instanceId": "ff8bc74e685205366b7c1dbd5470d650b694ebd82b586124e988b6855aef7cb2"
  },
  "id": "pnfqaPMDG9PohkBi",
  "tags": []
}